<div>
    <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{'home' | translate}}</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="dashboard">{{'home' | translate}}</a></li>
            <li class="breadcrumb-item active">{{'app_name' | translate}}</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
    <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>222,082,750<sup style="font-size: 20px"> {{'lak' | translate}}</sup></h3>

              <p>{{'youth_statistic' | translate}}</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="" class="small-box-footer"> ລາຍລະອຽດ<i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>11,550,340<sup style="font-size: 20px"> {{'lak' | translate}}</sup></h3>

              <p>{{'fund_statistic' | translate}}</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="" class="small-box-footer"> ລາຍລະອຽດ <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>210,532,410<sup style="font-size: 20px"> {{'lak' | translate}}</sup></h3>

              <p>ຜົນການດຳເນີນງານ</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="" class="small-box-footer"> ລາຍລະອຽດ <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>32,989,708,243<sup style="font-size: 20px"> {{'lak' | translate}}</sup></h3>

              <p>ລາຍຮັບ (ຄ້າງຮັບ)</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="" class="small-box-footer"> ລາຍລະອຽດ <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{'member_youth' | translate}}</span>
              <span class="info-box-number">2,542,240,000<small> {{'lak' | translate}}</small>
              </span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-users"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{'user' | translate}}</span>
              <span class="info-box-number">2,190,895,000<small> {{'lak' | translate}}</small></span>
            </div>
          </div>
        </div>
      
        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-money-bill-wave"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">ໜີ້ຕ້ອງຮັບຈາກລູກຄ້າ</span>
              <span class="info-box-number">349,435,000<small> {{'lak' | translate}}</small></span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-money-bill-wave"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">ຍອດເຫຼືອເງິນສົດ</span>
              <span class="info-box-number">37,005,000<small> {{'lak' | translate}}</small></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">ລູກຄ້າທັງໝົດ</span>
              <span class="info-box-number">561<small> ຄົນ</small>
              </span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-user-plus"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">ລູກຄ້າທີ່ເຄື່ອນໄຫວຢູ່</span>
              <span class="info-box-number">49<small> ສັນຍາ</small></span>
            </div>
          </div>
        </div>
      
        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-user-secret"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">ລູກຄ້າກາຍກຳນົດ</span>
              <span class="info-box-number">137<small> ສັນຍາ</small></span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-user-times"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">ໜີ້ທວງຍາກ</span>
              <span class="info-box-number">0<small> ສັນຍາ</small></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
           <button class="btn btn-success" (click)="showToastr()">Show Toastr</button>
        </div>
      </div>
    </div>
  </section>
  </div>