<div>
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h5><i class="fa fa-layer-group"></i>
                {{'setting' | translate}}
                <i class="fa fa-angle-double-right"></i>
                  {{'mass_position' | translate}}</h5>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="/home">{{'home' | translate}}</a></li>
                <li class="breadcrumb-item active">{{'ethnicity' | translate}}</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
  
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!--List users- table table-bordered table-striped -->
            <div class="col-md-12">
              <div class="card">
                <div class="card-header bg-info">
                  <h3 class="card-title">{{'mass_position' | translate}}</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body" *ngIf="!loading">
                  <div class="row mb-2">
                     <div class="col-md-4">
                         <input type="text" class="form-control" [(ngModel)]="searchT" placeholder="{{'search' | translate}}">
                     </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped" style="white-space:nowrap;">
                    <thead>
                      <tr>
                        <th class="text-center">{{'no' | translate}}</th>
                        <th>{{'name' | translate}}</th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let data of dataList | filter: searchT | paginate: { itemsPerPage: 10, currentPage: page, totalItems: count}; index as i">
                              <td class="text-center">
                                <span *ngIf="page==1">{{(i+1)}}</span>
                                <span *ngIf="page>1">{{((page-1)*10)+(i+1)}}</span>
                              </td>
                              <td>{{data.name}}</td>
                          </tr>
                      </tbody>
                  </table>
                </div>
                  <div class="text-center mt-2">
                    <pagination-controls  previousLabel="Preview" nextLabel="Next" (pageChange)="page = ($event)"></pagination-controls>
                  </div>                
                </div> 
                <div class="text-center" *ngIf="loading">
                  <img src="assets/img/loading.gif" alt="" width="100" height="100">
               </div> 
                <!-- /.card-body -->
              </div>
            </div>
  
          </div>
        </div>
      </section>
  </div>
  
  