<div class="wrapper">
    <!-- header -->
    <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
        <div class="container-fluid">
            <a routerLink="dashboard" class="navbar-brand">
              <img src="assets/img/LVMLogo1000.png" alt="AdminLTE Logo" class="brand-image"> 
              <!-- <span class="brand-text font-weight-light">ຄວທ</span> -->
            </a>
            <!-- Left navbar links -->
            <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                <ul class="navbar-nav">
                    <!--Modules-->
                    <li class="nav-item dropdown">
                        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" class="nav-link dropdown-toggle">{{'module' | translate}}</a>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                          <ng-template [ngIf]="role =='SuperAdmin' || role =='Admin'">
                        
                         </ng-template>
                            <li><a  routerLink="membermassorganization" class="dropdown-item"><i
                                        class="fa fa-caret-right" style="font-size:12pt;"
                                        aria-hidden="true"></i>&nbsp;{{'member_mass_organization' | translate}}</a></li>
                            <li><a  routerLink="economicfundmoney" class="dropdown-item"><i
                                        class="fa fa-caret-right" style="font-size:12pt;"
                                        aria-hidden="true"></i>&nbsp;{{'economic_fund_money' | translate}}</a></li>
                            <li><a routerLink="movementsttistic" class="dropdown-item"><i
                                        class="fa fa-caret-right" style="font-size:12pt;"
                                        aria-hidden="true"></i>&nbsp;{{'movement_statistic' | translate}}</a></li>
                            <li><a routerLink="investmentproject" class="dropdown-item"><i
                                        class="fa fa-caret-right" style="font-size:12pt;"
                                        aria-hidden="true"></i>&nbsp;{{'investment_project' | translate}}</a></li>
                           <li><a routerLink="dividend" class="dropdown-item"><i
                                          class="fa fa-caret-right" style="font-size:12pt;"
                                          aria-hidden="true"></i>&nbsp;{{'dividend' | translate}}</a></li>
                        </ul>
                    </li> <!-- end li 1 -->
                      <ng-template [ngIf]="role == 'SuperAdmin' || role =='Admin'">
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" class="nav-link dropdown-toggle">{{'setting' | translate}}</a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                  <li><a routerLink="subject" class="dropdown-item"><i
                                              class="fa fa-caret-right" style="font-size:12pt;"
                                              aria-hidden="true"></i>&nbsp;{{'subject' | translate}}</a></li>
                                  <li><a routerLink="theory" class="dropdown-item"><i
                                              class="fa fa-caret-right" style="font-size:12pt;"
                                              aria-hidden="true"></i>&nbsp;{{'theory' | translate}}</a></li>
                                  <li><a routerLink="ethnicity" class="dropdown-item"><i
                                              class="fa fa-caret-right" style="font-size:12pt;"
                                              aria-hidden="true"></i>&nbsp;{{'ethnicity' | translate}}</a></li>
                                  <li><a routerLink="religion" class="dropdown-item"><i
                                              class="fa fa-caret-right" style="font-size:12pt;"
                                              aria-hidden="true"></i>&nbsp;{{'religion' | translate}}</a></li>
                                <li><a routerLink="massposition" class="dropdown-item"><i
                                                class="fa fa-caret-right" style="font-size:12pt;"
                                                aria-hidden="true"></i>&nbsp;{{'mass_position' | translate}}</a></li>
                                  <li><a routerLink="govermentposition" class="dropdown-item"><i
                                                class="fa fa-caret-right" style="font-size:12pt;"
                                                aria-hidden="true"></i>&nbsp;{{'goverment_position' | translate}}</a></li>
                                <li><a routerLink="partyposition" class="dropdown-item"><i
                                                    class="fa fa-caret-right" style="font-size:12pt;"
                                                    aria-hidden="true"></i>&nbsp;{{'party_position' | translate}}</a></li>
                                  <li><a routerLink="organizationposition" class="dropdown-item"><i
                                                  class="fa fa-caret-right" style="font-size:12pt;"
                                                  aria-hidden="true"></i>&nbsp;{{'organization_position' | translate}}</a></li>
                                 <li><a routerLink="user" class="dropdown-item"><i
                                                    class="fa fa-caret-right" style="font-size:12pt;"
                                                    aria-hidden="true"></i>&nbsp;{{'user' | translate}}</a></li>
                            </ul>
                          </li> <!-- end li 1 -->
      
                      </ng-template>
                    <li class="nav-item dropdown">
                      <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false" class="nav-link dropdown-toggle">{{'report' | translate}}</a>
                      <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                            <li><a routerLink="consolidatedreport" class="dropdown-item"><i
                                      class="fa fa-caret-right" style="font-size:12pt;"
                                      aria-hidden="true"></i>&nbsp;{{'consolidated_report' | translate}}</a></li>
                            <li><a routerLink="investmentprojectreport" class="dropdown-item"><i
                                        class="fa fa-caret-right" style="font-size:12pt;"
                                        aria-hidden="true"></i>&nbsp;{{'investment_project_report' | translate}}</a></li>
                            <li><a  routerLink="dividendreport" class="dropdown-item"><i
                                        class="fa fa-caret-right" style="font-size:12pt;"
                                        aria-hidden="true"></i>&nbsp;{{'dividend_report' | translate}}</a></li>
                            <li><a  routerLink="reportgivingstatistic" class="dropdown-item"><i
                                        class="fa fa-caret-right" style="font-size:12pt;"
                                        aria-hidden="true"></i>&nbsp;{{'report_giving_statistic' | translate}}</a></li>
                            <li><a routerLink="membermassorganizationreport" class="dropdown-item"><i
                                        class="fa fa-caret-right" style="font-size:12pt;"
                                        aria-hidden="true"></i>&nbsp;{{'member_mass_organizing_report' | translate}}</a></li>
                      </ul>
                  </li> <!-- end li 1 -->
                </ul>
            </div>
            <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
  
              <!-- Notifications Dropdown Menu -->
              <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                  <i class="far fa-bell"></i>
                  <span class="badge badge-warning navbar-badge">50</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                  <span class="dropdown-header">ສະຖິຕິຊາວໜຸ່ມ</span>
                  <div class="dropdown-divider"></div>
                  <a href="" class="dropdown-item dropdown-footer">ສະຖິຕິກອງທຶນ</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="">
                    <i class="fas fa-language"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right p-0">
                    <a class="nav-link" data-toggle="nav-item" routerLink="dasboard" (click)="changeLao()">
                        <i class="flag-icon flag-icon-la"></i>&nbsp;{{'lao' | translate}}
                    </a>
                    <a class="nav-link" data-toggle="nav-item" routerLink="dasboard" (click)="changeEnglish()">
                        <i class="flag-icon flag-icon-us"></i>&nbsp;{{'english' | translate}}
                    </a>
                </div>
            </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                <!--Logout-->
                <li class="nav-item dropdown user-menu" *ngFor="let u of user">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <ng-template [ngIf]="u.checkimg !=null && u.checkimg !='null'">
                            <img src="{{u.profile}}" class="user-image img-circle elevation-2"
                            alt="User Image">
                        </ng-template>
                        <ng-template [ngIf]="u.checkimg ==null || u.checkimg =='null'">
                            <img src="assets/img/profile.jpg" class="user-image img-circle elevation-2"
                            alt="User Image"/>
                        </ng-template>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <!-- User image -->
                        <li class="user-header bg-white">
                             <ng-template [ngIf]="u.checkimg !=null && u.checkimg !='null'">
                            <img src="{{u.profile}}" class="user-image img-circle elevation-2"
                            alt="User Image">
                        </ng-template>
                        <ng-template [ngIf]="u.checkimg ==null || u.checkimg =='null'">
                            <img src="assets/img/profile.jpg" class="user-image img-circle elevation-2"
                            alt="User Image"/>
                        </ng-template>
                                <p>{{u.username}}</p>
                               <a href="#" (click)="logout()" class="btn btn-primary btn-sm"><i class="fa fa-sign-in-alt text-white"></i>&nbsp;<span class="text-white">{{'logout' | translate}}</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <button class="navbar-toggler order-1" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <!-- body -->
    <div class="content-wrapper">
       <router-outlet></router-outlet>
    </div>
    <!--footer -->
    <footer class="main-footer">
        <strong><a href="">{{'app_name' | translate}}</a></strong>
        <div class="float-right d-none d-sm-inline-block">
            <b>&copy;CIT Dev&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Version</b>1.1.0
        </div>
    </footer>
  </div>
  