<div ng-view>
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h5><i class="fa fa-users"></i>
                  {{'user' | translate}}</h5>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/home">{{'home' | translate}}</a></li>
                <li class="breadcrumb-item active">{{'user' | translate}}</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-md-9">
                        <a  class="btn btn-success" (click)="opencreateModal()"><i class="fa fa-plus"></i> {{'add' | translate}}</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row mb-2">
                    <div class="col-md-3">
                        <div class="form-group">
                          <label for="search">{{'search' | translate}}</label>
                          <input type="text" class="form-control" [(ngModel)]="searchT" placeholder="{{'search' | translate}}">
                        </div>
                    </div>
                 </div>
                  <div class="table-responsive mt-2">
                    <table class="table table-bordered table-striped" style="white-space:nowrap;">
                      <thead class="bg-info">
                      <tr class="text-center">
                        <th>{{'no' | translate}}</th>
                        <th>{{'profile' | translate}}</th>
                        <th>{{'name' | translate}}</th>
                        <th>{{'phone' | translate}}</th>
                        <th>{{'email' | translate}}</th>
                        <th>{{'ethnicity' | translate}}</th>
                        <th>{{'religion' | translate}}</th>
                        <th>{{'subject' | translate}}</th>
                        <th>{{'theory' | translate}}</th>
                        <th>{{'organization_position' | translate}}</th>
                        <th>{{'goverment_position' | translate}}</th>
                        <th>{{'action' | translate}}</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of dataList | filter: searchT | paginate: { itemsPerPage: 10, currentPage: page, totalItems: count}; index as i">
                            <td class="text-center">
                              <span *ngIf="page==1">{{(i+1)}}</span>
                              <span *ngIf="page>1">{{((page-1)*10)+(i+1)}}</span>
                            </td>
                            <td class="text-center">
                                <a>
                                  <img src="assets/img/profile.jpg" class="img-fluid" alt="white sample"/>
                                </a>
                            </td>
                            <td class="align-middle align-text-left">{{data.username}}</td>
                            <td class="align-middle align-text-left" >{{data.phone}}</td>
                            <td class="align-middle align-text-left" >{{data.email}}</td>
                            <td class="align-middle align-text-left" >ມົ້ງ</td>
                            <td class="align-middle align-text-left" >ຜີ</td>
                            <td class="align-middle align-text-left" >ປະລິນຍາຕີ</td>
                            <td class="align-middle align-text-left" >ທິດສະດີການເມືອງ</td>
                            <td class="align-middle align-text-left" >ຫົວໜ້າ</td>
                            <td class="align-middle align-text-left" >ຮອງຫົວໜ້າ</td>
                            <td class="align-middle align-text-left">
                                <button  type="button" class="btn btn-warning btn-sm" (click)="openeditModal(data)"><i class="fas fa-pencil-alt"></i></button>&nbsp;
                                <button  type="button" class="btn btn-danger btn-sm" (click)="opendeleteModal(data)"><i class="fas fa-trash"></i></button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="text-center mt-2">
                    <pagination-controls  previousLabel="Preview" nextLabel="Next" (pageChange)="page = ($event)"></pagination-controls>
                  </div>
                  <div class="text-center" *ngIf="!dataList">
                     <img src="assets/img/loading.gif" alt="" width="100" height="100">
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.modal-create -->
      <div class="modal fade" id="modal-add">
        <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header bg-info">
                  <h4 class="modal-title">{{'add' | translate}}</h4>
                  <button type="button" class="close" (click)="closecreateModal()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row justify-content-center">
                    <div class="d-flex flex-column">
                        <img [src]="imageUrl" width="100">
                        <div class="col-md-12">
                          <input type="file" #Image accept="image/*" (change)="handleFileInput($any($event).target.files)">
                        </div>
                    </div>
                  </div>
                  <form [formGroup]="form">
                        <div class="row">
                          <div class="col-md-3">
                              <div class="form-group">
                                <label for="">{{'name' | translate}}</label>
                                <input type="text" class="form-control" placeholder="{{'name' | translate}}">
                              </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="">{{'phone' | translate}}</label>
                              <input [ngClass]="{ 'is-invalid': submitted && f['phone'].errors}" formControlName="phone" [(ngModel)]="model.phone" class="form-control" placeholder="{{'phone' | translate}}">
                              <div *ngIf="submitted && f['phone'].errors" class="is-invalid">
                                <span *ngIf="f['phone'].errors['required']" class="text-danger">{{'required_phone' | translate}}</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="">{{'email' | translate}}</label>
                              <input [ngClass]="{ 'is-invalid': submitted && f['email'].errors}" formControlName="email" [(ngModel)]="model.email" class="form-control" placeholder="{{'email' | translate}}">
                              <div *ngIf="submitted && f['email'].errors" class="is-invalid">
                                <span *ngIf="f['email'].errors['required']" class="text-danger">{{'required_email' | translate}}</span>
                              </div>
                              <div *ngIf="submitted && f['email'].errors" class="is-invalid">
                                <span *ngIf="f['email'].errors['email']" class="text-danger">example@gmail.com</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                                <div class="form-group">
                                  <label for="">{{'ethnicity' | translate}}</label>
                                  <select name="" id="" class="form-control">
                                      <option value="">ມົ້ງ</option>
                                      <option value="">ລາວ</option>
                                  </select>
                                </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="">{{'religion' | translate}}</label>
                              <select name="" id="" class="form-control">
                                  <option value="">ຜີ</option>
                                  <option value="">ພຸດ</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="">{{'born_province' | translate}}</label>
                              <select name="" id="" class="form-control">
                                  <option value="">ວຽງຈັນ</option>
                                  <option value="">ນະຄອນຫຼວງ</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-3">
                                <div class="form-group">
                                  <label for="">{{'born_district' | translate}}</label>
                                  <select name="" id="" class="form-control">
                                      <option value="">ໄຊທານີ</option>
                                      <option value="">ຈັນທະບູລີ</option>
                                  </select>
                                </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="">{{'born_village' | translate}}</label>
                              <select name="" id="" class="form-control">
                                  <option value="">ດົງໂດກ</option>
                                  <option value="">ດົງໂດກ</option>
                              </select>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="">{{'province' | translate}}</label>
                            <select name="" id="" class="form-control">
                                <option value="">ວຽງຈັນ</option>
                                <option value="">ນະຄອນຫຼວງ</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                              <div class="form-group">
                                <label for="">{{'district' | translate}}</label>
                                <select name="" id="" class="form-control">
                                    <option value="">ໄຊທານີ</option>
                                    <option value="">ຈັນທະບູລີ</option>
                                </select>
                              </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="">{{'village' | translate}}</label>
                            <select name="" id="" class="form-control">
                                <option value="">ດົງໂດກ</option>
                                <option value="">ດົງໂດກ</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="">{{'subject' | translate}}</label>
                            <select name="" id="" class="form-control">
                                <option value="">ຜີ</option>
                                <option value="">ພຸດ</option>
                            </select>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="">{{'theory' | translate}}</label>
                          <select name="" id="" class="form-control">
                              <option value="">ວຽງຈັນ</option>
                              <option value="">ນະຄອນຫຼວງ</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                            <div class="form-group">
                              <label for="">{{'organization_position' | translate}}</label>
                              <select name="" id="" class="form-control">
                                  <option value="">ໄຊທານີ</option>
                                  <option value="">ຈັນທະບູລີ</option>
                              </select>
                            </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="">{{'goverment_position' | translate}}</label>
                          <select name="" id="" class="form-control">
                              <option value="">ດົງໂດກ</option>
                              <option value="">ດົງໂດກ</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="">{{'mass_position' | translate}}</label>
                          <select name="" id="" class="form-control">
                              <option value="">ຜີ</option>
                              <option value="">ພຸດ</option>
                          </select>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="">{{'username' | translate}}</label>
                        <input [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" formControlName="username" [(ngModel)]="model.username" class="form-control" placeholder="{{'username' | translate}}">
                        <div *ngIf="submitted && f['username'].errors" class="is-invalid">
                          <span *ngIf="f['username'].errors['required']" class="text-danger">{{'required_username' | translate}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                       <label>{{'status' | translate}}</label>
                        <select class="form-control" [ngClass]="{ 'is-invalid': submitted && f['role'].errors }" formControlName="role" [(ngModel)]="role">
                          <option value="">{{'select' | translate}}</option>
                          <option value="Customer">Customer</option>
                           <option value="Vendor">Vendor</option>
                           <option value="Manager">Manager</option>
                           <option value="Admin">Admin</option>
                           <option value="SuperAdmin">SuperAdmin</option>
                        </select>
                        <div *ngIf="submitted && f['role'].errors" class="is-invalid">
                          <span *ngIf="f['role'].errors['required']" class="text-danger">{{'required_status' | translate}}</span>
                        </div>
                       </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="">{{'password' | translate}}</label>
                        <input type="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" formControlName="password" [(ngModel)]="model.password" class="form-control" placeholder="{{'password' | translate}}">
                        <div *ngIf="submitted && f['password'].errors" class="is-invalid">
                          <span *ngIf="f['password'].errors['required']" class="text-danger">{{'required_password' | translate}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  </form>
                      <div class="d-flex justify-content-between">
                          <button  type="button" class="btn btn-success" (click)="createData(model)"><i class="fas fa-plus"></i>&nbsp;{{'save' | translate}}</button>
                          <button type="button" class="btn btn-danger" (click)="closecreateModal()" data-dismiss="modal"><i class="fas fa-times"></i>&nbsp;{{'close' | translate}}</button>
                      </div>
                </div>
              </div>
        </div>
      </div>
      <!-- end -->
      <!-- /.modal-edit -->
      <div class="modal fade" id="modal-edit">
        <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header bg-info">
                  <h4 class="modal-title">{{'edit' | translate}}</h4>
                  <button type="button" class="close" (click)="closeeditModal()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row justify-content-center">
                    <div class="d-flex flex-column">
                        <img src="assets/img/profile.jpg" width="100">
                        <div class="col-md-12">
                          <input type="file" class="form-control"><br>
                        </div>
                    </div>
                  </div>
                  <form [formGroup]="form">
                        <div class="row">
                          <div class="col-md-3">
                              <div class="form-group">
                                <label for="">{{'name' | translate}}</label>
                                <input type="text" class="form-control" placeholder="{{'name' | translate}}">
                              </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="">{{'phone' | translate}}</label>
                              <input [ngClass]="{ 'is-invalid': submitted && f['phone'].errors}" formControlName="phone" [(ngModel)]="model.phone" class="form-control" placeholder="{{'phone' | translate}}">
                              <div *ngIf="submitted && f['phone'].errors" class="is-invalid">
                                <span *ngIf="f['phone'].errors['required']" class="text-danger">{{'required_phone' | translate}}</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="">{{'email' | translate}}</label>
                              <input [ngClass]="{ 'is-invalid': submitted && f['email'].errors}" formControlName="email" [(ngModel)]="model.email" class="form-control" placeholder="{{'email' | translate}}">
                              <div *ngIf="submitted && f['email'].errors" class="is-invalid">
                                <span *ngIf="f['email'].errors['required']" class="text-danger">{{'required_email' | translate}}</span>
                              </div>
                              <div *ngIf="submitted && f['email'].errors" class="is-invalid">
                                <span *ngIf="f['email'].errors['email']" class="text-danger">example@gmail.com</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                                <div class="form-group">
                                  <label for="">{{'ethnicity' | translate}}</label>
                                  <select name="" id="" class="form-control">
                                      <option value="">ມົ້ງ</option>
                                      <option value="">ລາວ</option>
                                  </select>
                                </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="">{{'religion' | translate}}</label>
                              <select name="" id="" class="form-control">
                                  <option value="">ຜີ</option>
                                  <option value="">ພຸດ</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="">{{'born_province' | translate}}</label>
                              <select name="" id="" class="form-control">
                                  <option value="">ວຽງຈັນ</option>
                                  <option value="">ນະຄອນຫຼວງ</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-3">
                                <div class="form-group">
                                  <label for="">{{'born_district' | translate}}</label>
                                  <select name="" id="" class="form-control">
                                      <option value="">ໄຊທານີ</option>
                                      <option value="">ຈັນທະບູລີ</option>
                                  </select>
                                </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="">{{'born_village' | translate}}</label>
                              <select name="" id="" class="form-control">
                                  <option value="">ດົງໂດກ</option>
                                  <option value="">ດົງໂດກ</option>
                              </select>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="">{{'province' | translate}}</label>
                            <select name="" id="" class="form-control">
                                <option value="">ວຽງຈັນ</option>
                                <option value="">ນະຄອນຫຼວງ</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                              <div class="form-group">
                                <label for="">{{'district' | translate}}</label>
                                <select name="" id="" class="form-control">
                                    <option value="">ໄຊທານີ</option>
                                    <option value="">ຈັນທະບູລີ</option>
                                </select>
                              </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="">{{'village' | translate}}</label>
                            <select name="" id="" class="form-control">
                                <option value="">ດົງໂດກ</option>
                                <option value="">ດົງໂດກ</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="">{{'subject' | translate}}</label>
                            <select name="" id="" class="form-control">
                                <option value="">ຜີ</option>
                                <option value="">ພຸດ</option>
                            </select>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="">{{'theory' | translate}}</label>
                          <select name="" id="" class="form-control">
                              <option value="">ວຽງຈັນ</option>
                              <option value="">ນະຄອນຫຼວງ</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                            <div class="form-group">
                              <label for="">{{'organization_position' | translate}}</label>
                              <select name="" id="" class="form-control">
                                  <option value="">ໄຊທານີ</option>
                                  <option value="">ຈັນທະບູລີ</option>
                              </select>
                            </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="">{{'goverment_position' | translate}}</label>
                          <select name="" id="" class="form-control">
                              <option value="">ດົງໂດກ</option>
                              <option value="">ດົງໂດກ</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="">{{'mass_position' | translate}}</label>
                          <select name="" id="" class="form-control">
                              <option value="">ຜີ</option>
                              <option value="">ພຸດ</option>
                          </select>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="">{{'username' | translate}}</label>
                        <input [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" formControlName="username" [(ngModel)]="model.username" class="form-control" placeholder="{{'username' | translate}}">
                        <div *ngIf="submitted && f['username'].errors" class="is-invalid">
                          <span *ngIf="f['username'].errors['required']" class="text-danger">{{'required_username' | translate}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                       <label>{{'status' | translate}}</label>
                        <select class="form-control" [ngClass]="{ 'is-invalid': submitted && f['role'].errors }" formControlName="role" [(ngModel)]="role">
                          <option value="">{{'select' | translate}}</option>
                           <option value="Customer">Customer</option>
                           <option value="Vendor">Vendor</option>
                           <option value="Manager">Manager</option>
                           <option value="Admin">Admin</option>
                           <option value="SuperAdmin">SuperAdmin</option>
                        </select>
                        <div *ngIf="submitted && f['role'].errors" class="is-invalid">
                          <span *ngIf="f['role'].errors['required']" class="text-danger">{{'required_status' | translate}}</span>
                        </div>
                       </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="">{{'password' | translate}}</label>
                        <input type="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" formControlName="password" [(ngModel)]="model.password" class="form-control" placeholder="{{'password' | translate}}">
                        <div *ngIf="submitted && f['password'].errors" class="is-invalid">
                          <span *ngIf="f['password'].errors['required']" class="text-danger">{{'required_password' | translate}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  </form>
                      <div class="d-flex justify-content-between">
                          <button  type="button" class="btn btn-success" ><i class="fas fa-plus"></i>&nbsp;{{'save' | translate}}</button>
                          <button type="button" class="btn btn-danger" (click)="closecreateModal()" data-dismiss="modal"><i class="fas fa-times"></i>&nbsp;{{'close' | translate}}</button>
                      </div>
                </div>
              </div>
        </div>
      </div>
      <!-- end -->
       <!-- /.modal-delete -->
       <div class="modal fade" id="modal-delete">
        <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">{{'title_delete' | translate}}</h4>
                  <button type="button" class="close" (click)="closedeleteModal()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                      <div class="row">
                          <div class="col-md-12">
                            <h4>{{model.username}}</h4>
                            <h4>{{model.email}}</h4>
                          </div>
                      </div>
                      <div class="d-flex justify-content-between">
                          <button  type="button" class="btn btn-danger"><i class="fas fa-trash"></i>&nbsp;{{'delete' | translate}}</button>
                          <button type="button" class="btn btn-warning" (click)="closedeleteModal()" data-dismiss="modal"><i class="fas fa-power-off"></i>&nbsp;{{'close' | translate}}</button>
                      </div>
                </div>
              </div>
        </div>
      </div>
      <!-- end -->
    </div>

